body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;  
}

.navbar{
  display: flex;
  justify-content: space-between; /*수평*/
  align-items: center;/*수직*/
  background-color: rgb(236, 220, 220);
  padding: 8px 12px;
  margin: 30px 10px;
}

.navbar__logo{
  font-size: 24px;
}

.navbar__list{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.navbar__list li{
  padding: 8px 12px;
}
.navbar__list li:hover{
  background-color: blanchedalmond;
  border-radius: 4px;
}

/*main*/
.searching-result{
  margin: 20px auto;
  padding-left: 100px;
  padding-right: 100px;
  
}
.phrases{
  text-align: center;
}
.hashtag div{
  background: chartreuse;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: auto;
  padding: 20px;
}

#savingBtn{
  display: block;
}

#post-box {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: black solid;
  border-radius: 5px;
  color: black;
}
