@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    margin: 0;
    padding: 0;
    background: linear-gradient(103.81deg, #AB78FF 0.23%, #FFE484 100%) no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    display: block;
}

.text-center {
    text-align: center;
}

/*////////////////////////*/

.main-title {
    font-weight: 800;
    font-size: 50px;
    margin: 40px 0;
    color: white;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.main-title:hover {
    cursor: pointer;
}

.glassmorphism {
    width: 560px;
    height: 700px;

    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.account-box {
    width: 400px;
    height: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
}

.account-title {
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 35px;
    font-weight: 700;
}

.input-button {
    width: 330px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    display: block;
    margin: 10px auto 40px;
    padding: 20px 15px;
    border-radius: 100px;
}

.signup-button {
    width: 200px;
    background: #6667AB;
    box-shadow: 0px 4px 7px rgba(69, 146, 218, 0.25);
    color: white;
    border: none;
    padding: 15px 0;
    border-radius: 100px;
    display: block;
    margin: 30px auto;
    font-size: 19px;
}

.signup-button:hover {
    cursor: pointer;
}

.account-box a {
    text-decoration: none;
    color: white;
}