* {
  font-family: 'Nanum Gothic', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}

.btn-styling{
  background-color: #6667ab;
  color: white;
}
.btn-event:hover {
    box-shadow: 200px 0 0 0 rgba(154, 155, 217, 0.75) inset,
              -200px 0 0 0 rgba(154, 155, 217, 0.25) inset;
}

/*상단*/
.navbar{
  display: flex;
  justify-content: space-between; /*수평*/
  align-items: center;/*수직*/
  background-color: rgb(236, 220, 220);
  padding: 8px 12px;
  margin: 30px 10px;
}

.navbar__logo{
  font-size: 24px;
}

.navbar__list{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.navbar__list li{
  padding: 8px 12px;
}
.navbar__list li:hover{
  border-radius: 4px;
  color: ghostwhite;
}

/*main*/
.hashtag {
  padding: 30px 100px 30px 50px;
  margin: auto;
  background: rgba(171, 120, 255, 0.25);
  /*가운데 정렬!!!*/
  width: 100%;
  text-align: center;
}
