<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/Account.css">
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- script -->
    <script>
        function account() {
            let id = $('#id').val()
            let pw = $('#pw').val()
            $.ajax({
                type: "POST",
                url: "/signUpPage/up",
                data: {
                    id_give: id,
                    pw_give: pw
                },
                success: function (response) {
                    alert('가입되었습니다!') // 연결확인 후 구현
                    location.href = 'Login.html'
                }
            })
        }
    </script>
    <title>회원가입</title>
</head>

<body>
    <div class="glassmorphism">
        <div class="login-box">
            <div class="login-title text-center">Create Account</div>
            <div class="id-pw-box">
                <div>ID</div>
                <input type="text" class="input-button" id="id" placeholder="Input your ID">
                <div>Password</div>
                <input type="text" class="input-button" id="pw" placeholder="Input your Password">
                </br>
                <input type="button" onclick="account()" value="Sign up" class="login-button">
            </div>
        </div>
    </div>
</body>

</html>