<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/Account.css">
    <link rel="icon" href="../static/image/favicon.ico">
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- script -->
    <script src="/static/js/cookie.js"></script>
    <script>
        // 회원가입 서버로 넘겨줌
        function account() {
            let id = $('#id').val()
            let pw = $('#pw').val()
            $.ajax({
                type: "POST",
                url: "/signup",
                data: {
                    id_give: id,
                    pw_give: pw
                },
                success: function (response) {
                    if (response.signUp == '1') {
                        alert('가입되었습니다!')
                        window.location.href = '/login-page'
                    } else {
                        alert(response['msg'])
                        window.location.reload();
                    }
                }
            })
        }
        // 메인페이지 연결
        function linkMain() {
            window.location.href = '/'

        }
        // 엔터키 
        function enterkey() {
            if (window.event.keyCode == 13) {
                account();
            }
        }
    </script>
    <title>CATCHTAG# : 회원가입</title>
</head>

<body>
    <div class="main-title text-center" onclick="linkMain()">CATCHTAG</div>
    <div class="glassmorphism">
        <div class="account-box">
            <div class="account-title text-center">Create Account</div>
            <form action="" onkeyup="enterkey()">
                <div>ID</div>
                <input type="text" class="input-button" id="id" placeholder="Input your ID">
                <div>Password</div>
                <input type="password" class="input-button" id="pw" placeholder="Input your Password">
                </br>
                <input type="button" onclick="account()" value="Sign up" class="signup-button">
            </form>
        </div>
    </div>
</body>

</html>