<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/Login.css">
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- script -->
    <script>
        function login() {
            let id = $('#id').val()
            let pw = $('#pw').val()
            console.log(id, pw)
            $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    id_give: id,
                    pw_give: pw
                },
                success: function (response) {
                    if (data == 'false') {
                        alert('아이디/비밀번호가 일치하지 않습니다.');
                    } else {
                        alert('로그인 성공!') // 연결되는지 확인하고 삭제
                        location.href = 'main.html'
                    }
                }
            })
        }
    </script>
    <title>로그인</title>
</head>

<body>
    <div class="glassmorphism">
        <div class="login-box">
            <div class="login-title text-center">LOGIN</div>
            <div class="id-pw-box">
                <div>ID</div>
                <input type="text" class="input-button" id="id" placeholder=" ">
                <div>Password</div>
                <input type="text" class="input-button" id="pw" placeholder=" ">
                </br>
                <input type="button" onclick="login()" value="Login" class="login-button">
            </div>
            <div class="text-center">Don't have an account? <a href="Account.html">Sign up</a> </div>
        </div>
    </div>
</body>

</html>