<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/Login.css">
    <title>로그인</title>
</head>

<body>
    <div class="glassmorphism">
        <div class="login-box">
            <div class="login-title text-center">LOGIN</div>
            <div class="id-pw-box">
                <div>ID</div>
                <input type="text" class="input-button" id="id" placeholder=" ">
                <div>Password</div>
                <input type="text" class="input-button" id="pw" placeholder=" ">
                </br>
                <input type="button" value="Login" class="login-button">
            </div>
            <div class="text-center">Don't have an account? <a href="#">Sign up</a> </div>
        </div>
    </div>
</body>

</html>