<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/Login.css">
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- script -->
    <script>
        function login() {
            let id = $('#id').val()
            let pw = $('#pw').val()
            $.ajax({
                type: "POST",
                url: "/login/in",
                data: {
                    id_give: id,
                    pw_give: pw
                },
                success: function (response) {
                    if (response.signIn == '1') {
                        alert('로그인 성공');
                        window.location.href = '/main'
                    } else {
                        alert(response['msg'])
                        window.location.reload();
                    }
                }
            })
        }

        function enterkey() {
            if (window.event.keyCode == 13) {
                login();
            }
        }
    </script>
    <title>로그인</title>
</head>

<body>
    <div class="glassmorphism">
        <div class="login-box">
            <div class="login-title text-center">LOGIN</div>
            <form action="" onkeyup="enterkey()">
                <div>ID</div>
                <input type="text" class="input-button" id="id" placeholder=" ">
                <div>Password</div>
                <input type="password" class="input-button" id="pw" placeholder=" ">
                </br>
                <input type="button" onclick="login()" value="Login" class="login-button">
            </form>
            <div class="text-center">Don't have an account? <a href="/signup">Sign up</a> </div>
        </div>
    </div>
</body>

</html>