<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="../static/image/favicon.ico">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>

    <!-- 구글폰트 -->
    <link
        href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito+Sans:wght@300&family=Source+Sans+Pro:wght@200&display=swap"
        rel="stylesheet">


    <title>CATCHTAG# : 관심기록</title>
    <!--link rel="shortcut icon" href="#"-->

    <!-- style -->
    <link href="../static/css/Result.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .wrap {
            width: 900px;
            margin: auto;
        }

        #saved-record {
            background: rgba(171, 120, 255, 0.25);
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: 1px #9d9b9b solid;
            border-radius: 5px;
        }

        .hashtag div {
            background: whitesmoke;
            display: inline-block;
            max-width: 100%;
            height: 40px;
            margin: 5px 5px;
            padding: 10px;
            border-radius: 64px;
            border: 1px solid #7e7b7b;
        }
    </style>

    <script>
        let globalVariable;
        $(document).ready(function () {
            showRecords();
        });
        //저장한 단어들 보여주기
        function showRecords() {
            $.ajax({
                type: "GET",
                url: "/searchlist",
                data: {},
                success: function (response) {
                    let record = response['all_searchs']
                    for (let i = 0; i < record.length; i++) {
                        let list = record[i]['myword']
                        let id_setting = record[i]['saving-num']
                        let temp_html =
                            `<div id="${id_setting}" onclick="listOpen(this.id)" style='cursor:pointer'>${list}</div>`
                        $('.hashtag').append(temp_html)
                    }

                }
            })
        }

        //관심 등록한 단어를 누르면 크롤링 정보, 메모 등 내용이 보인다
        function listOpen(e) {
            if ($("#saved-record").css("display") == "block") {
                $("#saved-record").hide();
                $('#saved-record-list').empty();
            } else {
                $("#saved-record").show();
                globalVariable = e; //id 값 가져오기
                openedList(e);
            }
        }

        function openedList(event) {
            $.ajax({
                type: "POST",
                url: "/searchitem",
                data: {
                    savenum_give: event
                },
                success: function (response) {
                    let items = response['items']
                    let myword = items[0]['myword']
                    let memo = items[0]['memo']
                    let keyword = items[0]['keyword']
                    let link = items[0]['link']

                    //이미지 제목 불러오기
                    let image = items[0]['image']
                    let image_route_split = image.split("/")
                    let image_route = image_route_split[image_route_split.length-1]
                    console.log(items, myword, memo, keyword, link, image, image_route)


                    let font_style = 'font-weight: bold; font-style: italic; font-size: 1.2em;'
                    let image_size = `width: 398px; border: 0; height: 390px;` //*****이미지 크기 조절!!
                    let temp_html_image = `<div id="crawl-result-item">
                                            <img src="../static/image/${image_route}" style="${image_size}"/>
                                            </div>`

                    let temp_html = `<div class="form-group">
                                        <hr>
                                        <label for="area-crawling" style="${font_style}"> #${myword} </label>
                                    </div>
                                    <hr>
                                    ${temp_html_image}
                                    <hr>
                                    <div class="form-group">
                                        <label for="area-memo" style="${font_style}">메모</label>
                                        <div id="area-memo"> ${memo}</div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="area-keyword" style="${font_style}">중요키워드</label>
                                        <div id="area-keyword"> ${keyword}</div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="area-link" style="${font_style}">링크</label>
                                        <div id="area-link"> ${link}</div>
                                    </div>
                                    <hr>`

                    $('#saved-record-list').append(temp_html)
                }
            })
        }

        //관심기록 해제 = 내용 지우는 button
        function deleteBtn() {
            //지우는거 + DB안에 저장된 내용도 지워짐
            const search_id = globalVariable;
            const div = document.getElementById(search_id);

            $("#saved-record").hide();
            if (confirm("삭제하시겠습니까?")) {
                alert('삭제되었습니다');
                div.remove();
                deleteContents(); //실행이 잘 되는건 별개로 오류가 나는데 왜 나는지 모르겠다**
            } else {
                $("#saved-record").show();
            }
        }
        //지우는거 + DB안에 저장된 내용도 지운다
        function deleteContents() {
            const searched_id = globalVariable;
            $.ajax({
                type: "POST",
                url: "/delete-item",
                data: {
                    saved_num: searched_id
                },
                success: function (response) {
                    //let rm = response['remaining_items']
                    //console.log(rm)
                    $("#saved-record-list").empty();
                }
            })
        }
    </script>


</head>

<body>
    <div class="wrap">
        <!--상단-->
        <nav class="navbar">
            <div class="navbar__logo">
                <!--메인화면으로 링크넣기!-->
                <a href="/">CATCHTAG#</a>
            </div>
            <ul class="navbar__list">
                <li>
                    <form action="#">
                        <!--로그아웃용-->
                        <button type="submit" class="btn btn-styling btn-event">Logout</button>
                    </form>
                </li>
                <li>
                    <form action="/main-page">
                        <!--메인 화면으로 넘기기-->
                        <button type="submit" class="btn btn-styling btn-event">다시 검색하기</button>
                    </form>
                </li>
            </ul>
        </nav>

        <div class="save-list" style="padding-top: 20px">
            <div style="text-align: center;">
                <h1>내가 관심등록한 키워드</h1>
            </div>
            <div class="hashtag" style="padding: 30px 100px;">
                <!--내가 관심 등록한 단어들-->
            </div>
        </div>

        <!--클릭해야 보인다-->
        <div id="saved-record" class="form-post" style="display: none">
            <div id="saved-record-list">
                <!--디비에서 불러온 내용을 담을 공간-->
            </div>
            <button type="button" class="btn btn-styling" onclick="deleteBtn()" style="margin-top: 16px;">삭제버튼이다!
            </button>
        </div>

    </div>

</body>

</html>